.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

<style>
  body {
  background-image: url('images/twit.jpg');
  background-repeat: no-repeat;
background: cover;
}
.ss {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.ss li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    }

.ss li a:hover {
    background-color: #111111;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;

}

li {
    float: left;
    padding-right:100px;
}

.button
{
      width: 10%;
     color: black;
    padding: 7px 10px;
    margin-top:5%;
    margin-left:20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.output {
    width: 160%;
    hight: 40;
    color: black;
    padding: 70px 10px;
    margin-top: -10%;
    margin-left: 60%;
    display: inline;
}
.box {
      padding-top:200px;
      padding-left:500px;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}